[submodule "timestamp-microservice"]
	path = timestamp-microservice
	url = https://github.com/kodiidok/timestamp-microservice.git
[submodule "request-header-parser-microservice"]
	path = request-header-parser-microservice
	url = https://github.com/kodiidok/request-header-parser-microservice.git
[submodule "url-shortner-microservice"]
	path = url-shortner-microservice
	url = https://github.com/kodiidok/url-shortner-microservice.git
[submodule "exersice-tracker-microservice"]
	path = exersice-tracker-microservice
	url = https://github.com/kodiidok/exersice-tracker-microservice.git
[submodule "filemetada-microservice"]
	path = filemetada-microservice
	url = https://github.com/kodiidok/filemetada-microservice.git
